# Android specific
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
.gradle/
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Local configuration file
local.properties

# IntelliJ IDEA / Android Studio
*.iml
.idea/

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json